<a href="https://colab.research.google.com/github/amylynnn/profile/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:

person = {
    "name": "Alex",
    "age": 30,
    "city": "Sydney"
}

print(person["name"])
print(person["age"])

print(person.get("occupation", "Not found"))

Alex
30
Not found

In [6]:
person = {
    "name": "Alex",
    "age": 30,
    "city": "Sydney"
}

person["occupation"] = "Software Engineer"
person["age"] = 31

print(person)

{'name': 'Alex', 'age': 31, 'city': 'Sydney', 'occupation': 'Software Engineer'}

In [7]:
person = {
    "name": "Alex",
    "age": 30,
    "city": "Sydney"
}

del person ["age"]
occupation = person.pop("occupation", "Not found")

print(person)
print(occupation)

{'name': 'Alex', 'city': 'Sydney'}
Not found

In [9]:
person = {
    "name": "Alex",
    "age": 30,
    "city": "Sydney"
}

for key in person:
    print(key)

    for key,  value in person.items():
        print(f"{key}, {value}")

name
name, Alex
age, 30
city, Sydney
age
name, Alex
age, 30
city, Sydney
city
name, Alex
age, 30
city, Sydney